@import "zen-grids";
$zen-column-count: 12;
$zen-gutter-width: 10px;

*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	font-family: verdana, sans-serif;

	article{
		position: relative;

		header{
			@include zen-grid-item(8, 3);

			height: 50px;
			margin-top: 10px;
			background: #000;
			border-radius: 5px;
			position: absolute;
			z-index: 9999;

			&.stabled{
				position: fixed;
				top: -5px;
			}

			h1{
				@include zen-grid-item(4, 1);

				background: url(../images/logo.png) no-repeat 0 0;
				text-indent: -9000em;
				margin-top: 10px;
				margin-left: 15px;

				a{
					display: block;
				}
			}
			nav{
				@include zen-grid-item(8, 5);

				.menu-desktop{
					display: block;
				}
				.menu-smartphone{
					display: none;
				}

				ul{
					list-style: none;

					li{
						float: left;
						padding: 15px 0;

						a{
							color: #fff;
							text-decoration: none;
							text-transform: uppercase;
							border-right: 2px solid #363839;
							padding: 0 13px;
							display: block;
							font-size: 0.7em;

						}

						&:hover{
								border-bottom: 3px solid #fff001;
							}

						&.last{
							a{
								border-right: none;
							}
						}
					}
				}
			}
		}
		#portfolio{
			@include zen-grid-item(12, 1);
			clear: both;
			background: #3469c6;

			.bx-wrapper{

				.slider{
					margin-top: 60px;
				}

				.bx-pager{
					display: none;
				}

				.bx-controls-direction{
					@include zen-grid-item(8, 3);

					position: relative;
					margin-top: -15%;
				}
			}
		}
		#clipping{
			@include zen-grid-item(12, 1);
			
			clear: both;
			background: #171717;

			.noticia{
				@include zen-grid-item(8, 3);
				padding-top: 115px;
				color: #fff;

				.noticia-destaque{
					@include zen-grid-item(6, 1);

					h2{
						font-size: 17px;
					}
					p{
						font-size: 12px;
						margin: 20px 0;
					}
				}
				.controles{
					@include zen-grid-item(2, 7);

					position: relative;
					
					.transparente{
						background: #1979bc;
						opacity: 0.3;
						filter:Alpha(opacity=30);
						height: 240px;
					}

					ul{
						list-style: none;

						&.midias-sociais, &.controls{
							position: absolute;
							left: 40px;
						}

						&.midias-sociais{
							top: 15px;
							border-bottom: 2px solid #1979bc;

							.facebook{
								text-indent: -9000em;
								background: url(../images/facebook.png) no-repeat 0 0;
								width: 48px;
								height: 20px;
								margin-bottom: 10px;
							}
							.twitter{
								text-indent: -9000em;
								background: url(../images/twitter.png) no-repeat 0 0;
								width: 52px;
								height: 18px;
								margin-bottom: 15px;
							}
						}

						&.controls{
							.proximo{
								background: url(../images/bt-proximo.png) no-repeat 10px 0;
								padding-top: 40px;
								margin-top: 15px;
							}
							.anterior{
								background: url(../images/bt-anterior.png) no-repeat 10px 0;
								padding-top: 40px;
								margin-top: 15px;
							}
						}

						&.controls{
							top: 80px;
						}

						li{
							a{
								text-decoration: none;
								color: #fff;
								font-size: 14px;
							}
						}
					}
				}
				.noticias{
					@include zen-grid-item(4,9);

					background: url(../images/bg-noticias.png) no-repeat 0 0;

					ul{
						list-style: none;
						padding-left: 0;
						margin-top: 57px;
						margin-left: 18px;

						li{
							font-size: 12px;
							margin-bottom: 20px;

							a{
								text-decoration: none;
								color: #fff;

								&:hover, &.active{
									color: #ff0;
								}
							}
						}
					}
				}
			}
		}
		#contato{
			@include zen-grid-item(12, 1);
			clear: both;
			background: #22415e;
			padding-top: 105px;
			color: #fff;

			.chamada{
				@include zen-grid-item(7, 4);
				background: url("../images/bg-contato.png") no-repeat 0 0;
				height: 115px;

				p{
					width: 653px;
					margin-top: 18px;
					text-align: center;
				}
			}
			.dados-contato{
				@include zen-grid-item(8, 3);
				clear: both;

				form{
					@include zen-grid-item(6, 1);

					p{
						margin-bottom: 10px;
					}

					#nome, #email,#mensagem{
						height: 34px;
						border-radius: 5px;
						padding: 0 5px;
						width: 350px;
					}
					#mensagem{
						height: 110px;
						padding-top: 5px;
					}
					#send_message{
						border-radius: 5px;
						padding: 5px;
						float: right;
						margin-right: 30px;
						color: #fff;
					}
				}
				ul{
					@include zen-grid-item(5, 8);
					list-style: none;

					li{
						font-size: 13px;
						margin-bottom: 40px;

						span{
							display: block;

							&.cidade{
								font-weight: bold;
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 800px){
	$zen-column-count: 4;
    body{
    	article{
    		header{
    			@include zen-grid-item(12, 1);

    			h1{
    				@include zen-grid-item(9, 1);
    				background: url("../images/logo1.png") no-repeat 0 0;
    			}

    			.wrap {
				    max-width: 100%;
				    margin: 0;
			    }

			    .drop {
				    height: 48px;
				    position: relative;
				    z-index: 1000;

				    nav{
	    				@include zen-grid-item(3, 10);

	    				.menu-desktop{
	    					display: none;
	    				}
	    				.menu-smartphone{
	    					display: block;

	    					p{
	    						border-left: 2px solid #fff;
	    						margin-top: 10px;
	    						background: url(../images/item-menu.png) no-repeat 20px 5px;
	    						text-indent: -9000em;
	    						width: 40px;
	    					}
	    					ul{
	    						display: none;
	    						height: 210px;
	    						z-index: 1000;
	    						position: relative;
	    						width: 184px;
	    						margin-left: -105px;
	    						padding: 18px 10px 0;
	    						background: #000;

	    						li{
	    							float: none;
	    							border-bottom: 1px solid #fff;
	    							width: 160px;
	    							padding: 5px 0;

	    							&.endereco{
	    								color: #fff;
	    								font-size: 10px;
	    								border-bottom: none;

			    						span{
											display: block;

											&.cidade{
												font-weight: bold;
											}
										}
			    					}

			    					&.idioma{
			    						border-bottom: none;
			    						margin-top: 15px;

			    						.titulo{
			    							color: #fff;
			    							font-size: 10px;
			    							float: left;
			    							text-transform: uppercase;
			    						}
			    						.linguas{
			    							float: right;

			    							a{
			    								float: left;
			    								width: auto;
			    								padding: 0 5px;
			    							}
			    						}
			    					}

	    							a{
	    								border-right: none;
	    							}
	    						}
	    					}
	    					p:hover ~ ul, ul:hover{
	    						display: block;
	    						height: 210px;
	    					}
	    				}

	    				&.nav{
					    	&.nav-aberta {
							    position: relative;
							    padding: 0 0 0.5em 0;
							    height: 0;
					    	}
					     
						    ul {
							    padding: .5em;
							    margin: 0;
							    background: #444;

							    li {
								    margin: 0;
								    padding: 0;
								    display: block;
								    border-bottom: 1px solid #FFF;
							    
							     
								    a {
									    padding: 0.5em 0 0.5em 0;
									    display: block;
									    color: #FFF;
								    }
							     
								    &:last-child {
								    	border-bottom:none;
								    }
							    }
						    }
						}
	    			}
	    			.nav-toggle {
					    display: block;
					    padding: .4em;
					    margin: .5em 0;
					    position: absolute;
					    right: 10px;
					    top: -18px;
				    }
			    }
    		}
    		#portfolio{
    			position: relative;
    			z-index: 10;

    			.bx-wrapper{
    				margin: 0 auto;

    				.bx-viewport{
    					height: 170px !important;
    				}

    				.bx-controls-direction{
    					@include zen-grid-item(12, 1);
    				}
    			}
    		}
    		#clipping{
    			.noticia{
    				@include zen-grid-item(12, 1);
    				position: relative;

    				.noticia-destaque{
    					@include zen-grid-item(12, 1);

    					img{
    						width: 100%;
    					}
    				}
    				.controles{
    					display: none;
    				}
    				.noticias{
    					@include zen-grid-item(12, 1);
    					position: absolute;
    					top: -10px;
    					left: 0;
    					background: none;
    				}
    			}
    		}
    		#contato{
    			display: none;
    		}
    	}
    }
}