@import "zen-grids";
$zen-column-count: 12;
$zen-gutter-width: 10px;

*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	font-family: verdana, sans-serif;

	article{
		position: relative;

		header{
			@include zen-grid-item(8, 3);

			height: 50px;
			margin-top: 10px;
			background: #000;
			border-radius: 5px;
			position: absolute;

			h1{
				@include zen-grid-item(4, 1);
				background: url(../images/logo.png) no-repeat 0 0;
				text-indent: -9000em;
				margin-top: 10px;
				margin-left: 15px;
			}
			nav{
				@include zen-grid-item(8, 5);

				ul{
					list-style: none;

					li{
						float: left;
						padding: 15px 0;

						a{
							color: #fff;
							text-decoration: none;
							text-transform: uppercase;
							border-right: 2px solid #363839;
							padding: 0 13px;
							display: block;
							font-size: 0.7em;

						}

						&:hover{
								border-bottom: 3px solid #fff001;
							}

						&.last{
							a{
								border-right: none;
							}
						}
					}
				}
				
			}
		}
		#portfolio{
			@include zen-grid-item(12, 1);
			clear: both;
			background: #3469c6;

			.bx-wrapper{

				.bx-viewport{
					height: 458px;
				}

				.slider{
					margin-top: 60px;
				}

				.bx-controls-direction{
					@include zen-grid-item(8, 3);

					position: relative;
					margin-top: -15%;
				}
			}
		}
		#clipping{
			@include zen-grid-item(12, 1);
		}
	}
}