@import "zen-grids";
$zen-column-count: 12;
$zen-gutter-width: 10px;

*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	font-family: verdana, sans-serif;

	article{
		position: relative;

		header{
			@include zen-grid-item(8, 3);

			height: 50px;
			margin-top: 10px;
			background: #000;
			border-radius: 5px;
			position: absolute;

			h1{
				@include zen-grid-item(4, 1);
				background: url(../images/logo.png) no-repeat 0 0;
				text-indent: -9000em;
				margin-top: 10px;
				margin-left: 15px;
			}
			nav{
				@include zen-grid-item(8, 5);

				ul{
					list-style: none;

					li{
						float: left;
						padding: 15px 0;

						a{
							color: #fff;
							text-decoration: none;
							text-transform: uppercase;
							border-right: 2px solid #363839;
							padding: 0 13px;
							display: block;
							font-size: 0.7em;

						}

						&:hover{
								border-bottom: 3px solid #fff001;
							}

						&.last{
							a{
								border-right: none;
							}
						}
					}
				}
				
			}
		}
		#portfolio{
			@include zen-grid-item(12, 1);
			clear: both;
			background: #3469c6;

			.bx-wrapper{

				.slider{
					margin-top: 60px;
				}

				.bx-controls-direction{
					@include zen-grid-item(8, 3);

					position: relative;
					margin-top: -15%;
				}
			}
		}
		#clipping{
			@include zen-grid-item(12, 1);
			
			clear: both;
			background: #171717;

			.noticia{
				@include zen-grid-item(8, 3);
				padding-top: 115px;
				color: #fff;

				.noticia-destaque{
					@include zen-grid-item(6, 1);

					h2{
						font-size: 17px;
					}
					p{
						font-size: 12px;
						margin: 20px 0;
					}
				}
				.controles{
					@include zen-grid-item(2, 7);

					position: relative;
					
					.transparente{
						background: #1979bc;
						opacity: 0.3;
						filter:Alpha(opacity=30);
						height: 240px;
					}

					ul{
						list-style: none;

						&.midias-sociais, &.controls{
							position: absolute;
							left: 40px;
						}

						&.midias-sociais{
							top: 15px;
							border-bottom: 2px solid #1979bc;

							.facebook{
								text-indent: -9000em;
								background: url(../images/facebook.png) no-repeat 0 0;
								width: 48px;
								height: 20px;
								margin-bottom: 10px;
							}
							.twitter{
								text-indent: -9000em;
								background: url(../images/twitter.png) no-repeat 0 0;
								width: 52px;
								height: 18px;
								margin-bottom: 15px;
							}
						}

						&.controls{
							.proximo{
								background: url(../images/bt-proximo.png) no-repeat 10px 0;
								padding-top: 40px;
								margin-top: 15px;
							}
							.anterior{
								background: url(../images/bt-anterior.png) no-repeat 10px 0;
								padding-top: 40px;
								margin-top: 15px;
							}
						}

						&.controls{
							top: 80px;
						}

						li{
							a{
								text-decoration: none;
								color: #fff;
								font-size: 14px;
							}
						}
					}
				}
				.noticias{
					@include zen-grid-item(4,9);

					background: url(../images/bg-noticias.png) no-repeat 0 0;

					ul{
						list-style: none;
						padding-left: 0;
						margin-top: 57px;
						margin-left: 18px;

						li{
							font-size: 12px;
							margin-bottom: 20px;

							a{
								text-decoration: none;
								color: #fff;

								&:hover{
									color: #ff0;
								}
							}
						}
					}
				}
			}
		}
		#contato{
			@include zen-grid-item(12, 1);
			clear: both;
			background: #22415e;
		}
	}
}